<header class="showcase">
    <div class="content">
        <i class="mdi mdi-home-variant" style="font-size: 100px;"></i>
        {{!-- <img src="logo.jpg" class="logo" alt="Uzoanya Dominic"> --}}
        <div class="title">The Hostel App</div>
        <div class="text">
            <p>Short description here</p>
            <a href="/students/login" class="btn waves-effect waves-light links">Login</a>
            &nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;
            <a href="/students/register" class="btn waves-effect waves-light links">Register</a>
        </div>
    </div>
</header>
<!-- Services-->
<section class="services">
    <div class="container grid-3 center">
        <div>
            <i class="mdi mdi-flash mdi-48px icons"></i>
            <h3>24/7 Electricity</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, ratione.</p>
        </div>
        <div>
            <i class="mdi mdi-school mdi-48px icons"></i>
            <h3>Standard Rooms</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, ratione.</p>
        </div>
        <div>
            <i class="mdi mdi-taxi mdi-48px icons"></i>
            <h3>Shuttle Transportation</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, ratione.</p>
        </div>
    </div>
</section>

<!-- About -->
<section class="about bg-light">
    <div class="container">
        <div class="grid-2">
            <div class="center">
                <i class="mdi mdi-home-outline icons" style="font-size: 200px !important;"></i>
            </div>
            <div>
                <h3 id="about">About Us</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minima eum, voluptates perspiciatis doloremque facilis est necessitatibus id delectus fuga voluptatem quisquam ex temporibus deserunt odit nostrum repudiandae nihil odio soluta quia omnis nesciunt. Sit rerum reprehenderit blanditiis ex quaerat!</p>
            </div>
        </div>
    </div>
</section>

<footer class="center bg-dark">
    <p>&copy; Copyright Hostel Application 2018</p>
</footer>