nav {
    background-color: #26a69a;
}

nav li  {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.mdi-menu:hover {
    color: #ffffff !important;
}

#logoLink:hover {
    color: #ffffff;
    text-decoration: none;
}

.sidenav a:hover {
    color: #fff !important;
    background-color: #26a69a !important;
}

#form-container {
    display: flex;
    align-self: center;
    top: 50px !important;
}

form {
    border: 2px solid #f1f1f1;
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px !important;
}

form h4 {
    color: #26a69a;
}

li a:hover {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #26a69a;
    text-decoration: underline;
}

button {
    width: 100%;
    /* border: 2px solid #388e3c !important;
    background-color: #ffffff !important;
    color: #388e3c !important; */
}

.form-icons {
    color: #c5c5c5;
}