nav {
    background-color: #26a69a;
}

nav li  {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

h6 {
    text-align: center;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #c5c5c5;
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 50px;
    color: #333;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8em;
    grid-auto-rows: minmax(350px, auto);
}

.links {
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    align-self: center;
    text-align: center;
    padding-bottom: 20px;
    color: #888;
    transition: all 500ms;
}

.links:hover {
    box-shadow: 1px 1px 4px #c5c5c5;
}

h5 a:link {
    color: #888;
}
h5 a:visited {
    color: #8888;
}
h5 a:hover {
    color: skyblue;
}
h5 a:active {
    color: #f00;
}

.main-icons {
    font-size: 80px;
    color: #26a69a;
}

.modal-footer {
    text-align: center !important;
}

button {
    margin-right: 25px !important;
}